@import url('https://fonts.googleapis.com/css2? family = Roboto: wght @ 300; 400; 700 & display = swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}
.cabecera{
    background: #333;
    color: goldenrod;
    padding: 2em 0;
}

.cabecera a{
    color: #eac102;
    text-decoration: none;
}
.contenedor-logo-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegador-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navegador-menu ul li{
    display: inline-block;
}
.navegador-menu ul li a {
        display: block;
         padding: 0.5rem 1rem;
         transition: all 0.4s linear;
         border-radius: 10px;

}
.navegador-menu ul li a:hover {
background: #eac102;
}
.logo{
    letter-spacing: 15px;
    font-size: 1.4em;
}
.logotipo{
    border-radius: 100%;
    border: solid #eac102;
}


/*estilo del footer*/

footer{
    width: 100%;
    background: #101010;
    color: #c7c7c7;

}
.contenedordelfooter{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    
}
.container--footer{
    display: flex;
    justify-content: space-between;
}
.columna1{
    max-width: 400px;
}
.columna1 h1{
    font-size: 22px;
    color: #c7c7c7;
    margin-top: 20px;
}
.columna1 p{
    font-size: 12px;
    color: #c7c7c7;
    margin-top: 20px;
}
.columna2{
    max-width: 400px;
}
.columna2 h2{
    font-size: 22px;
}
.columna2 .row{
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.row label{
    margin-left: 10px;
    margin-top: 10px;
    color: #c7c7c7;
}
.columna3{
    max-width: 400px;
}
.columna3 h1{
    font-size: 22px;
}
.row2{
    margin-top: 20px;
    display: flex;
    
}
.row2 img{
    width: 36px;
    height: 36px;
    border-radius: 100%;

}
.row2 label{
    margin-left: 20px;
    max-width: 150px;
    margin-top: 5px;

}
.contenedor-pie-pagina{
    width: 100%;
    background: #101010;
    font-size: 15px;

}
.piedepagina{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    padding: 20px;

}
.copyright{
    color: #c7c7c7;
}
.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1100px){
    .contenedordelfooter{
        flex-wrap: wrap;
    }
@media screen and (max-width: 715px){
 
    .columna2
    .columna3{
        margin-top: 40px;
    }

}
