* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecera {
    width: 100%;
    height: 20vh;
    background-image: url(../imagenes/iphone\ x.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:
}

.cabecera .fondo{
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-image: url(../imagenes/);
}
